@charset "UTF-8";
header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  min-width: 100%;
  background-color: #212121;
  height: 50px;
  z-index: 2;
}

.menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
  font-size: 15px;
  padding: 10px 50px 0px 50px;
}

.menu_link {
  padding-left: 10px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.menu_item {
  border-right: 2px dotted #1EACC7;
  padding-right: 30px;
}
.menu_item:last-child {
  border-right: none;
}

.subheader {
  margin-top: 50px;
  position: absolute;
  min-width: 100%;
  height: 87px;
  background-color: rgba(0, 0, 0, 0.6);
}

.subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}

.subheader_official {
  width: 100%;
  margin-top: 6px;
  font-weight: 400;
  font-size: 13px;
  color: #FFFFFF;
}

.subheader_call {
  display: block;
  margin-top: 20px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
}

.subheader_phone {
  display: block;
  margin-top: 2px;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subheader_btn {
  margin-top: 20px;
  color: #FFFFFF;
  width: 172px;
  height: 46px;
  font-weight: 400;
  font-size: 14px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  transition: 0.5s all;
}
.subheader_btn:hover {
  background-image: none;
  background-color: yellow;
  color: black;
}

.promo {
  padding: 150px 0;
  background: url("../img/uber_bg.jpg") center center/cover no-repeat;
}

.promo_header {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo_subheader {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo_descr {
  margin: 16px auto 116px auto;
  min-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}

.promo_btn {
  display: block;
  margin: 0 auto;
  width: 259px;
  height: 63px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.5s all;
  transition: 0.5s all;
}
.promo_btn:hover {
  background-image: none;
  background-color: yellow;
  color: black;
}

.work {
  padding-top: 20px;
  min-height: 700px;
}

.label {
  margin: 3px auto 32px auto;
  width: 113px;
  height: 24px;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgb(0, 0, 0);
}

.title {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
}

.work_advantage {
  display: flex;
  margin: 12px 0px 26px 0px;
  justify-content: center;
}
.work_advantage img {
  width: auto;
  height: 116px;
  padding-left: 33px;
  padding-right: 25px;
  vertical-align: 50%;
}
.work_advantage span {
  color: #1EACC7;
  font-weight: 400;
  font-size: 17px;
}

.work_descr {
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  max-width: 571px;
  vertical-align: top;
}

.subtitle {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #222222;
}

.mobile {
  min-height: 864px;
  padding: 48px 0px 79px 0px;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 300px;
  height: 280px;
  margin: 0 auto 19px auto;
  padding: 90px 0px 0px 12px;
}
.mobile_item_subtitle {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}
.mobile_item_1 {
  background: url("../img/Карточка 1.png") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/Карточка 2.png") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/Карточка 3.png") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/Карточка 4.png") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/Карточка 5.png") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/Карточка 6.png") center center/cover no-repeat;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45%;
  bottom: 32px;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #000;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1EACC7;
  transition: 0.8s all;
}
.mobile_item_plus:after {
  position: absolute;
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1EACC7;
  transition: 0.8s all;
}
.mobile_item_plus:hover:after, .mobile_item_plus:hover:before {
  background-color: red;
}

.select {
  min-height: 898px;
  padding: 48px 0px 79px 0px;
  background: url(../img/fon.png) center center/cover no-repeat;
}
.select_picture {
  display: block;
  margin: 50px auto 0px auto;
}
.select_label2 {
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  color: black;
}

.label_white {
  color: rgb(0, 0, 0);
  background-color: white;
}

.title_white {
  color: white;
}

.subtitle_white {
  font-weight: 400;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}

.require_title {
  margin-top: 25px;
  font-weight: 400;
  font-size: 22px;
  line-height: 15px;
  color: #1CA8C3;
  margin-bottom: 20px;
}
.require_title_red {
  color: red;
  margin-top: 60px;
}

.require {
  padding: 66px 0px 90px 0px;
}

.require_item_descr {
  line-height: 35px;
  font-weight: 300;
  font-size: 21px;
  width: 100%;
  color: #222222;
  padding-left: 20px; /*Attention*/
}
.require_item_descr:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  transform: translate(-5px, -2px);
  background-image: url("../icons/check_blue 7.svg");
  padding-right: 22px;
}
.require_item_descr_blue { /*Одна подпись в первой колонке*/
  font-weight: 300;
  font-size: 17px;
  color: #1CA8C3;
  line-height: 15px;
  margin-top: 25px;
}

.require_item_top {
  width: 100%;
  margin-top: 25px;
}

.require_item_bottom .require_item_descr:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  transform: translate(-5px, -2px);
  background-image: url("../icons/check_red 1.svg");
  padding-right: 22px;
}

.world {
  min-width: auto;
  padding: 48px 0px 22px 0px;
  height: 716px;
  margin: 0 auto;
  background: url("../img/world_bg.png") center center/auto no-repeat;
  background-color: #080816;
}

.watch_city {
  margin-top: 455px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: rgb(31, 186, 214);
  font-weight: 400;
  font-size: 15px;
}

footer {
  padding: 13px 0px 20px 0px;
  min-height: 130px;
  background-color: #ffffff;
}

.line {
  margin: 0 auto;
  border: 2px solid #1FBAD6;
  width: 80%;
  background-color: #1FBAD6;
}

.footer_menu_item {
  display: inline-block;
  text-align: center;
  font-weight: 300;
  margin-right: 10px;
}
.footer_menu_item:first-child {
  margin-left: 0px;
}
.footer_menu_item .link {
  font-weight: 500;
  font-size: 13px;
  color: #070716;
}

.navigate {
  text-align: center;
}
.navigate_black {
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
}
.navigate_black .footer_menu_item, .navigate_black .link {
  color: #999999;
  font-size: 13px;
}
.navigate_blue {
  margin-top: 32px;
  text-align: center;
  text-transform: uppercase;
}

.language {
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #1FBAD6;
}

.link {
  text-decoration: none;
}

.social {
  display: flex;
  color: white;
}

.circl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #000;
  border-radius: 50%;
  margin-left: 5px;
  color: white;
}
.circl:first-child {
  margin-left: 28px;
}

.fa {
  color: white;
}

.social_app {
  width: 320px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
}

.wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wraper > div {
  width: 33%;
}
.wraper > div:nth-child(3) { /*Присваем обверточным дивам дисплей флекс*/
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  .menu_link {
    font-size: 12px;
  }
  .menu_item {
    padding-right: 15px;
  }
  .promo_header {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .menu_link {
    font-size: 12px;
  }
  .menu_item {
    padding-right: 5px;
  }
  .subheader_btn {
    width: 142px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .promo_btn {
    font-size: 15px;
    width: 190px;
  }
  .title {
    font-size: 28px;
  }
  .work_advantage {
    flex-direction: column;
    align-items: center;
  }
  .work_advantage img {
    margin-bottom: 15px;
    width: 160px;
    height: auto;
  }
  .mobile_item {
    width: 200px;
    height: 280px;
  }
  .mobile_item_subtitle {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .icon img {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-right: 50px;
  }
  .icon img:last-child {
    margin-right: 0px;
  }
  .icon {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .menu {
    background-color: #222222;
    left: -100%;
    position: fixed;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 40vh;
    padding: 15px 20px;
    transition: 1.5s all;
  }
  .menu_active {
    transition: 0.5s all;
    left: 0%;
  }
  .menu_link {
    font-size: 17px;
  }
  .menu_item {
    margin-bottom: 20px;
    border-right: none;
  }
  .menu_active {
    left: 0px;
    transition: 0.9s all;
  }
  .select img {
    width: 100%;
  }
  .hamburger {
    position: absolute;
    right: 4%;
    top: 15px;
  }
  .hamburger span {
    transition: 0.5s all;
    display: block;
    width: 30px;
    height: 2px;
    background-color: #FFFFFF;
    margin-bottom: 6px;
  }
  .hamburger_active span {
    transition: 0.5s all;
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .hamburger_active span:nth-child(3) {
    transform: translateY(-3px) rotate(-45deg);
  }
  .subheader_btn {
    position: absolute;
    width: auto;
  }
  .promo_header {
    font-size: 30px;
  }
  .promo_subheader {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .menu {
    height: 50vh;
    width: 45vh;
  }
  .promo_descr {
    display: none;
  }
  .subheader_call {
    display: none;
  }
  .subheader_official {
    display: none;
  }
  .subheader_btn {
    position: absolute;
    left: 50%;
    font-size: 13px;
    width: auto;
    margin: 0;
    margin-top: -20px;
    height: 40%;
    border-radius: 10%;
  }
  .subheader_logo {
    margin-top: 30px;
  }
  .subheader_logo img {
    width: 100%;
    height: auto;
  }
  .subheader_phone {
    position: absolute;
    left: 50%;
  }
  .promo_btn {
    margin-top: 20px;
  }
  .work_descr {
    text-align: center;
  }
  .promo_subheader {
    font-size: 17px;
    margin-top: 20px;
  }
  .select_label2 {
    margin-top: 40px;
  }
  .wraper div .social {
    flex-direction: column;
    align-items: center;
  }
  .wraper div .social .circl {
    margin: 0px 0px 5px 5px;
  }
  .wraper div .social_app {
    flex-direction: column;
    align-items: center;
  }
  .wraper div .social_app .icon {
    margin: 0px 0px 5px 5px;
  }
  .menu_item {
    width: 100%;
  }
  .menu_link {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */
